<mat-sidenav-container id="sidenav-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    class="sidenav"
    [fixedInViewport]="true"
    [fixedTopGap]="64"
  >
    <!-- [fixedBottomGap]="64" -->
    <mat-nav-list role="list" style="padding-top: 0">
      @for (menuItem of menuItems(); track menuItem) {
        <a
          mat-list-item
          [routerLink]="menuItem.route"
          routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive"
        >
          <mat-icon matListItemIcon>{{ menuItem.icon }}</mat-icon>
          <span matListIconTitle>{{ menuItem.label }}</span>
        </a>
      }
      <a mat-list-item (click)="authService.logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListIconTitle>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="padding: 8px">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-toolbar class="footer">Footer</mat-toolbar> -->
