<h2 class="heading">My Uploads</h2>
<div class="filter-container">
  <form class="filter-form">
    <!-- Filter by File Type -->
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Type</mat-label>
      <mat-select [formControl]="fileTypeControl" multiple>
        @for (group of fileTypeGroups; track group) {
          <mat-optgroup [label]="group.name" [disabled]="group.disabled">
            @for (type of group.fileTypes; track type) {
              <mat-option [value]="type">{{ type.label }}</mat-option>
            }
          </mat-optgroup>
        }
      </mat-select>
      <div matSuffix style="margin-left: 4px; margin-right: 8px">
        <mat-icon
          (click)="$event.stopPropagation(); fileTypeControl.setValue('')"
          >clear</mat-icon
        >
      </div>
    </mat-form-field>
    <!-- Filter by Changed Time -->
    <mat-form-field style="margin-left: 16px" subscriptSizing="dynamic">
      <mat-label>Changed</mat-label>
      <mat-select [formControl]="timeSpanControl">
        @for (timeSpan of timeSpans; track timeSpan) {
          <mat-option [value]="timeSpan">{{ timeSpan.label }}</mat-option>
        }
      </mat-select>
      <div matSuffix style="margin-left: 4px; margin-right: 8px">
        <mat-icon
          (click)="$event.stopPropagation(); timeSpanControl.setValue('')"
          >clear</mat-icon
        >
      </div>
    </mat-form-field>
    <button style="margin-left: 16px" mat-flat-button (click)="clearFilters()">
      <mat-icon>clear</mat-icon>
      <span>Clear filters</span>
    </button>
  </form>
</div>
<div>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">
        <div style="display: flex; align-items: center; gap: 8px">
          <mat-icon>{{ row.isFolder ? "folder" : "description" }}</mat-icon>
          <span>{{ row.name }}</span>
        </div>
      </td>
    </ng-container>

    <!-- FileSize Column -->
    <ng-container matColumnDef="fileSize">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
      <td mat-cell *matCellDef="let row">{{ row.fileSize }}</td>
    </ng-container>

    <!-- CreatedAt Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created at</th>
      <td mat-cell *matCellDef="let row">
        {{ row.createdAt.toLocaleString() }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (contextmenu)="(null)"
    ></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
