<div class="header">
  <h2 class="heading">My Uploads</h2>
  <div class="action-container">
    <button
      mat-mini-fab
      class="action-item"
      [matMenuTriggerFor]="addMenu"
      #addMenuTrigger="matMenuTrigger"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<div class="filter-container">
  <form class="filter-form">
    <!-- Filter by File Type -->
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Type</mat-label>
      <mat-select
        [formControl]="fileTypeControl"
        multiple
        (selectionChange)="(null)"
      >
        @for (group of fileTypeGroups; track group) {
          <mat-optgroup [label]="group.name" [disabled]="group.disabled">
            @for (type of group.fileTypes; track type) {
              <mat-option [value]="type">{{ type.label }}</mat-option>
            }
          </mat-optgroup>
        }
      </mat-select>
      <div matSuffix style="margin-left: 4px; margin-right: 8px">
        <mat-icon
          (click)="$event.stopPropagation(); fileTypeControl.setValue('')"
          >clear</mat-icon
        >
      </div>
    </mat-form-field>
    <!-- Filter by Changed Time -->
    <mat-form-field style="margin-left: 16px" subscriptSizing="dynamic">
      <mat-label>Changed</mat-label>
      <mat-select
        [formControl]="timeSpanControl"
        (selectionChange)="onTimeSpanFilterChanged($event)"
      >
        @for (timeSpan of timeSpans; track timeSpan) {
          <mat-option [value]="timeSpan">{{ timeSpan.label }}</mat-option>
        }
      </mat-select>
      <div matSuffix style="margin-left: 4px; margin-right: 8px">
        <mat-icon
          (click)="$event.stopPropagation(); timeSpanControl.setValue('')"
          >clear</mat-icon
        >
      </div>
    </mat-form-field>
    <button style="margin-left: 16px" mat-flat-button (click)="clearFilters()">
      <mat-icon>clear</mat-icon>
      <span>Clear filters</span>
    </button>
  </form>
</div>
<div class="table-container">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Select Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef style="padding-inline: 0">
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" style="padding-inline: 0">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="padding-left: 0"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let row" style="padding-left: 0">
        <div style="display: flex; align-items: center; gap: 8px">
          <mat-icon>{{ row.isFolder ? "folder" : "description" }}</mat-icon>
          <span>{{ row.name }}</span>
        </div>
      </td>
    </ng-container>

    <!-- FileSize Column -->
    <ng-container matColumnDef="fileSize">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
      <td mat-cell *matCellDef="let row">{{ row.fileSize }}</td>
    </ng-container>

    <!-- LastChanged Column -->
    <ng-container matColumnDef="lastChanged">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last changed</th>
      <td mat-cell *matCellDef="let row">
        {{ row.lastChanged.toLocaleString() }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
      <td mat-cell *matCellDef="let row" style="text-align: right">
        <button (click)="onContextMenuAction($event, row)" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (contextmenu)="onContextMenuAction($event, row)"
      (click)="onGetFileItem(row)"
    ></tr>
    <!-- TODO: matNoDataRow -->
  </table>
</div>
<mat-paginator
  #paginator
  class="upload-table-paginator"
  [length]="dataSource.data.length"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]"
  aria-label="Select page"
>
</mat-paginator>

<div
  class="upload-context-menu"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu"
></div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-file="file">
    <button mat-menu-item (click)="createLink(file)">+ Create Link</button>
    <button mat-menu-item (click)="downloadFile(file)">Download</button>
    <button mat-menu-item (click)="editFileItem(EnFileAction.Rename, file)">
      Rename
    </button>
    @if (file.isFolder) {
      <button
        mat-menu-item
        (click)="editFileItem(EnFileAction.ChangeColor, file)"
      >
        Change color
      </button>
    }
    <button mat-menu-item (click)="deleteFile(file)">Delete</button>
  </ng-template>
</mat-menu>

<mat-menu #addMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="editFileItem(EnFileAction.Create)">
      New Folder
    </button>
    <button mat-menu-item (click)="uploadFile()">Upload File(s)</button>
    <button mat-menu-item (click)="uploadFolder()">Upload Folder(s)</button>
  </ng-template>
</mat-menu>
