@use "@angular/material" as mat;

.heading {
  font-size: 1.75em;
  margin-bottom: 0;
}

.filter-container {
  // @include mat.form-field-density(minimum); // TODO: handle with theming
  .filter-form {
    display: flex;
    align-items: center;
  }
}
